

h1 {
    font-size: 3rem;
}
/* 
#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}  */


#projects {
    display: flex;
    flex-direction: column;
    background-color: #9B110E;
    padding: 5rem 2rem;
    height: max-content;
}


.project-tile {
    display: grid;
    /* grid-auto-flow: ; */
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 10px;
    /* grid-auto-rows: minmax(100px, auto); */

}

.project-tile img {
    width: 100%;
    height: auto;
}

.tile {
    border: #3f5151 solid 1px;
    background-color: #45567d;
}

.tile:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}
.tile p:hover {
    text-decoration: underline;
}

#projects a {
    text-decoration: none;
    color: whitesmoke;
}

/* @media (max-width: 500px) {
    .project-tile {
        display: flex;
        flex-direction: column;
    }
} */

button {
    background-color: #45567d;
    width: fit-content;
    height: 2em;
    align-self: center;
    text-align: center;
    color: whitesmoke;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5%;
    border: #45567d 2px solid;
    margin: 2em 2em;
}